<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxminco.mock.ioc.d.SyncUnitTypeCertificateMapper" >
  <resultMap id="BaseResultMap" type="com.hxminco.mock.comm.entry.SyncUnitTypeCertificate" >
    <constructor >
      <idArg column="code" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    code, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qb_unitType_certificate
    where code = #{code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qb_unitType_certificate
    where code = #{code,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxminco.mock.comm.entry.SyncUnitTypeCertificate" >
    insert into qb_unitType_certificate (code, name)
    values (#{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxminco.mock.comm.entry.SyncUnitTypeCertificate" >
    insert into qb_unitType_certificate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxminco.mock.comm.entry.SyncUnitTypeCertificate" >
    update qb_unitType_certificate
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxminco.mock.comm.entry.SyncUnitTypeCertificate" >
    update qb_unitType_certificate
    set name = #{name,jdbcType=VARCHAR}
    where code = #{code,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qb_unitType_certificate
  </select>
</mapper>